body {
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    flex: 0;
}

.header-group,
.info-group,
.quotes-group,
.action-group,
.footer-group {
    padding: 0 15%;
}

.header-group,
.footer-group {
    background-color: #1f2937;
    color: #e5e7eb;
}

button,
.action-group {
    background-color: #3882f6;
}

button {
    border-radius: 8px;
    width: 75px;
    height: 25px;
    border-style: none;
    color: white;
}

a {
    text-decoration: none;
    color: #f9faf8;
}

/* Header */
.header-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 30px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.image-placeholder {
    width: 400px;
    height: 200px;
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-header h1 {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}

.nav-link,
.left-header p {
    font-size: 18px;
    color: #e5e7eb;
}

/* The Info Section */
.info-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.info-content {
    display: flex;
    gap: 30px;
    justify-content: center;
    width: 400px;
    margin-bottom: 50px;
    align-items: center;
}

.image-box {
    width: 150px;
    height: 150px;
    border: solid #3882f6 2px;
}

.image-text {
    text-align: center;
}

.info-group h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

/* Quotes Section */
.quotes-group {
    background-color: #e5e7eb;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1f2937;
    margin: 50px 0;
}

.quote {
    text-align: justify;
}
.author {
    text-align: right;
    font-weight: 900;
}

/* Call to Action */
.action-group {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}
.action-content {
    margin: 18px 32px;
    padding: 16px 50px;
    background-color: #3882f6;
    display: flex;
    border-radius: 10px;
    gap: 30px;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 70vw;
}

.under-button {
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    border: solid white 1px;
}

/* Footer */
.footer-group {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}